In [1]:
import sys
sys.path.append('/home/sfang/windows/gitlab/stanleysfang/surveillance_2019_ncov/prod')

In [2]:
from google.cloud import bigquery
from BigQueryWrapper import QueryRunner, Loader, Extractor
import pandas as pd
import datetime
import re

In [3]:
project_id = 'stanleysfang'

In [4]:
client = bigquery.Client(project=project_id)

In [5]:
qr = QueryRunner(client=client)
loader = Loader(client=client)
extractor = Extractor(client=client)

In [6]:
geo='us'

### Functions

In [7]:
def print_job_result(job, client, max_results=20):
    job.result()
    bq_table = client.get_table(job.destination)
    df = client.list_rows(bq_table, max_results=max_results).to_dataframe()
    print(bq_table.full_table_id)
    print(df.head(max_results))

### Load Data

In [8]:
confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv')
deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv')

In [9]:
confirmed.iloc[:, 0:15]

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,1/22/20,1/23/20,1/24/20,1/25/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",0,0,0,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",0,0,0,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",0,0,0,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",0,0,0,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",0,0,0,0
3336,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",0,0,0,0
3337,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,"Unassigned, Wyoming, US",0,0,0,0
3338,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",0,0,0,0
3339,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",0,0,0,0

In [10]:
deaths.iloc[:, 0:15]

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population,1/22/20,1/23/20,1/24/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",55869,0,0,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",223234,0,0,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",24686,0,0,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",22394,0,0,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",57826,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",23464,0,0,0
3336,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",20226,0,0,0
3337,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,"Unassigned, Wyoming, US",0,0,0,0
3338,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",7805,0,0,0
3339,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",6927,0,0,0

In [11]:
dt_cols = [datetime.datetime.strptime(dt, '%m/%d/%y').strftime('dt_%Y%m%d') for dt in list(confirmed.columns)[11:]]

#### confirmed

In [12]:
confirmed_cols = ['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'county', 'province_state', 'country_region', 'latitude', 'longitude', 'combined_key'] + dt_cols
confirmed.columns = confirmed_cols

In [13]:
confirmed_schema = [
    ('UID', 'INT64'),
    ('iso2', 'STRING'),
    ('iso3', 'STRING'),
    ('code3', 'INT64'),
    ('FIPS', 'FLOAT64'),
    ('county', 'STRING'),
    ('province_state', 'STRING'),
    ('country_region', 'STRING'),
    ('latitude', 'FLOAT64'),
    ('longitude', 'FLOAT64'),
    ('combined_key', 'STRING'),
] + [(dt_col, 'INT64') for dt_col in dt_cols]

In [14]:
loader.load_df(confirmed, 'stanleysfang.surveillance_2019_ncov.ts_2019_ncov_{geo}_confirmed_raw'.format(geo=geo), schema=confirmed_schema)

#### deaths

In [15]:
deaths_cols = confirmed_cols
deaths_cols.insert(11, 'population')
deaths.columns = deaths_cols

In [16]:
deaths_schema = confirmed_schema
deaths_schema.insert(11, ('population', 'INT64'))

In [17]:
loader.load_df(deaths, 'stanleysfang.surveillance_2019_ncov.ts_2019_ncov_{geo}_deaths_raw'.format(geo=geo), schema=deaths_schema)

In [18]:
for job in loader.job_history:
    print_job_result(job, client)

/home/sfang/anaconda3/envs/surveillance_2019_ncov/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the REST endpoint.
  after removing the cwd from sys.path.

stanleysfang:surveillance_2019_ncov.ts_2019_ncov_us_confirmed_raw
         UID iso2 iso3  code3     FIPS          county  province_state  \
0   84080001   US  USA    840  80001.0       Out of AL         Alabama
1   84090001   US  USA    840  90001.0      Unassigned         Alabama
2   84002013   US  USA    840   2013.0  Aleutians East          Alaska
3   84002016   US  USA    840   2016.0  Aleutians West          Alaska
4   84002060   US  USA    840   2060.0     Bristol Bay          Alaska
5   84002068   US  USA    840   2068.0          Denali          Alaska
6   84002100   US  USA    840   2100.0          Haines          Alaska
7   84002105   US  USA    840   2105.0   Hoonah-Angoon          Alaska
8   84002158   US  USA    840   2158.0        Kusilvak          Alaska
9   84080002   US  USA    840  80002.0       Out of AK          Alaska
10  84002230   US  USA    840   2230.0         Skagway          Alaska
11  84090002   US  USA    840  90002.0      Unassigned          Alaska
12  84002275   US  USA    840   2275.0        Wrangell          Alaska
13  84002282   US  USA    840   2282.0         Yakutat          Alaska
14        16   AS  ASM     16     60.0            None  American Samoa
15  84080004   US  USA    840  80004.0       Out of AZ         Arizona
16  84090004   US  USA    840  90004.0      Unassigned         Arizona
17  84005013   US  USA    840   5013.0         Calhoun        Arkansas
18  84080005   US  USA    840  80005.0       Out of AR        Arkansas
19  84006049   US  USA    840   6049.0           Modoc      California

   country_region   latitude   longitude  ... dt_20201104  dt_20201105  \
0              US   0.000000    0.000000  ...           0            0
1              US   0.000000    0.000000  ...           0            0
2              US  55.322224 -161.972202  ...          18           18
3              US  52.323300 -174.159600  ...         101          102
4              US  58.745140 -156.701064  ...           0            0
5              US  63.672640 -150.007611  ...          33           33
6              US  59.098936 -135.467984  ...          14           14
7              US  58.293074 -135.642442  ...           0            0
8              US  62.154292 -163.396788  ...         279          284
9              US   0.000000    0.000000  ...           0            0
10             US  59.561500 -135.333775  ...           7            7
11             US   0.000000    0.000000  ...          73           77
12             US  56.320200 -132.058373  ...          19           19
13             US  59.890981 -140.360145  ...          37           37
14             US -14.271000 -170.132000  ...           0            0
15             US   0.000000    0.000000  ...           0            0
16             US   0.000000    0.000000  ...           1            1
17             US  33.555988  -92.499744  ...          60           71
18             US   0.000000    0.000000  ...           0            0
19             US  41.589656 -120.724482  ...          58           64

    dt_20201106  dt_20201107  dt_20201108  dt_20201109  dt_20201110  \
0             0            0            0            0            0
1             0            0            0            0            0
2            19           19           19           19           19
3           102          103          103          103          103
4             0            0            0            0            0
5            33           33           33           33           36
6            15           15           15           15           15
7             0            0            0            0            0
8           296          318          327          339          348
9             0            0            0            0            0
10            7            7            7            7            7
11           79           80           81           82           84
12           19           19           19           19           19
13           37           37           38           38           39
14            0            0            0            0            0
15            0            0            0            0            0
16            1            0            0            0            0
17           74           76           79           81           87
18            0            0            0            0            0
19           68           73           73           75           79

    dt_20201111  dt_20201112  dt_20201113
0             0            0            0
1             0            0            0
2            20           20           20
3           104          105          105
4             0            0            0
5            37           37           37
6            15           16           16
7             0            0            0
8           349          351          351
9             0            0            0
10            7            7            7
11           81           82           86
12           19           19           19
13           39           39           39
14            0            0            0
15            0            0            0
16            0            0            0
17           91           95          100
18            0            0            0
19           80           86           91

[20 rows x 308 columns]

/home/sfang/anaconda3/envs/surveillance_2019_ncov/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the REST endpoint.
  after removing the cwd from sys.path.

stanleysfang:surveillance_2019_ncov.ts_2019_ncov_us_deaths_raw
         UID iso2 iso3  code3     FIPS        county  province_state  \
0   84001045   US  USA    840   1045.0          Dale         Alabama
1   84013305   US  USA    840  13305.0         Wayne         Georgia
2   84090017   US  USA    840  90017.0    Unassigned        Illinois
3   84080036   US  USA    840  80036.0     Out of NY        New York
4   84037087   US  USA    840  37087.0       Haywood  North Carolina
5   84038015   US  USA    840  38015.0      Burleigh    North Dakota
6   84047179   US  USA    840  47179.0    Washington       Tennessee
7   84048025   US  USA    840  48025.0           Bee           Texas
8   84048249   US  USA    840  48249.0     Jim Wells           Texas
9   84048409   US  USA    840  48409.0  San Patricio           Texas
10  84048465   US  USA    840  48465.0     Val Verde           Texas
11  84005051   US  USA    840   5051.0       Garland        Arkansas
12  84013175   US  USA    840  13175.0       Laurens         Georgia
13  84016055   US  USA    840  16055.0      Kootenai           Idaho
14  84022039   US  USA    840  22039.0    Evangeline       Louisiana
15  84028141   US  USA    840  28141.0    Tishomingo     Mississippi
16  84045009   US  USA    840  45009.0       Bamberg  South Carolina
17  84048123   US  USA    840  48123.0        DeWitt           Texas
18  84048273   US  USA    840  48273.0       Kleberg           Texas
19  84048285   US  USA    840  48285.0        Lavaca           Texas

   country_region   latitude   longitude  ... dt_20201104  dt_20201105  \
0              US  31.430371  -85.610957  ...          52           52
1              US  31.552181  -81.918949  ...          38           38
2              US   0.000000    0.000000  ...         283          283
3              US   0.000000    0.000000  ...         113          113
4              US  35.552691  -82.981965  ...          36           36
5              US  46.978474 -100.464521  ...          83           86
6              US  36.294724  -82.494547  ...          67           72
7              US  28.417617  -97.742156  ...          39           39
8              US  27.731039  -98.090470  ...          52           52
9              US  28.008801  -97.517639  ...          82           82
10             US  29.891492 -101.152520  ...         129          129
11             US  34.576921  -93.149216  ...          76           76
12             US  32.463252  -82.922213  ...          97           98
13             US  47.672823 -116.702087  ...          53           53
14             US  30.729852  -92.399159  ...          40           40
15             US  34.740235  -88.239172  ...          41           41
16             US  33.219276  -81.056600  ...          34           34
17             US  29.081019  -97.356812  ...          44           44
18             US  27.424355  -97.698949  ...          54           54
19             US  29.385084  -96.931867  ...          39           39

    dt_20201106  dt_20201107  dt_20201108  dt_20201109  dt_20201110  \
0            54           55           55           55           55
1            38           38           38           39           39
2             0            0            0            0            0
3           113          113          113          113          113
4            36           36           36           36           36
5            90           90           90           91           99
6            75           78           78           78           83
7            39           39           39           39           39
8            53           53           53           53           53
9            82           82           83           83           83
10          129          129          129          129          129
11           76           76           78           82           82
12           99          100          100          100          103
13           55           55           55           55           56
14           40           40           40           40           40
15           41           41           41           41           41
16           34           34           34           34           35
17           44           44           44           44           44
18           54           54           54           54           54
19           39           39           39           39           39

    dt_20201111  dt_20201112  dt_20201113
0            55           55           54
1            40           41           41
2             0            0            0
3           113          113          113
4            36           36           36
5            99           99           99
6            83           84           85
7            39           39           40
8            53           53           53
9            83           83           83
10          129          129          130
11           82           82           82
12          104          109          109
13           61           61           61
14           40           40           40
15           41           41           41
16           35           35           35
17           44           44           44
18           54           54           54
19           39           39           39

[20 rows x 309 columns]

### Dataprep

#### restructure raw data

In [19]:
for metric in ['confirmed', 'deaths']:
    array_query = ''
    for dt_col in dt_cols:
        array_query = \
        """{array_query}
        STRUCT(PARSE_DATE('dt_%Y%m%d', '{dt_col}') AS dt, {dt_col} AS total_{metric}),
        """.format(array_query=array_query, dt_col=dt_col, metric=metric)
    array_query = re.sub('[,\n ]*$', '\n', array_query)
    
    query = \
    """
    SELECT dt, a.* EXCEPT(arr), total_{metric}
    FROM (
        SELECT
            county, province_state, country_region, combined_key, latitude, longitude,
            [{array_query}] AS arr
        FROM `stanleysfang.surveillance_2019_ncov.ts_2019_ncov_{geo}_{metric}_raw`
    ) a, UNNEST(arr)
    """.format(metric=metric, array_query=array_query, geo=geo)
    
    query_job = qr.run_query(query, destination_table='stanleysfang.surveillance_2019_ncov.ts_2019_ncov_{geo}_{metric}'.format(geo=geo, metric=metric), time_partitioning=True, partition_field='dt')

In [20]:
for job in qr.job_history:
    print_job_result(job, client)

/home/sfang/anaconda3/envs/surveillance_2019_ncov/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the REST endpoint.
  after removing the cwd from sys.path.

stanleysfang:surveillance_2019_ncov.ts_2019_ncov_us_confirmed
            dt          county  province_state country_region  \
0   2020-02-12       Out of AL         Alabama             US
1   2020-02-12      Unassigned         Alabama             US
2   2020-02-12  Aleutians East          Alaska             US
3   2020-02-12  Aleutians West          Alaska             US
4   2020-02-12     Bristol Bay          Alaska             US
5   2020-02-12          Denali          Alaska             US
6   2020-02-12          Haines          Alaska             US
7   2020-02-12   Hoonah-Angoon          Alaska             US
8   2020-02-12        Kusilvak          Alaska             US
9   2020-02-12       Out of AK          Alaska             US
10  2020-02-12         Skagway          Alaska             US
11  2020-02-12      Unassigned          Alaska             US
12  2020-02-12        Wrangell          Alaska             US
13  2020-02-12         Yakutat          Alaska             US
14  2020-02-12            None  American Samoa             US
15  2020-02-12       Out of AZ         Arizona             US
16  2020-02-12      Unassigned         Arizona             US
17  2020-02-12         Calhoun        Arkansas             US
18  2020-02-12       Out of AR        Arkansas             US
19  2020-02-12           Modoc      California             US

                  combined_key   latitude   longitude  total_confirmed
0       Out of AL, Alabama, US   0.000000    0.000000                0
1      Unassigned, Alabama, US   0.000000    0.000000                0
2   Aleutians East, Alaska, US  55.322224 -161.972202                0
3   Aleutians West, Alaska, US  52.323300 -174.159600                0
4      Bristol Bay, Alaska, US  58.745140 -156.701064                0
5           Denali, Alaska, US  63.672640 -150.007611                0
6           Haines, Alaska, US  59.098936 -135.467984                0
7    Hoonah-Angoon, Alaska, US  58.293074 -135.642442                0
8         Kusilvak, Alaska, US  62.154292 -163.396788                0
9        Out of AK, Alaska, US   0.000000    0.000000                0
10         Skagway, Alaska, US  59.561500 -135.333775                0
11      Unassigned, Alaska, US   0.000000    0.000000                0
12        Wrangell, Alaska, US  56.320200 -132.058373                0
13         Yakutat, Alaska, US  59.890981 -140.360145                0
14          American Samoa, US -14.271000 -170.132000                0
15      Out of AZ, Arizona, US   0.000000    0.000000                0
16     Unassigned, Arizona, US   0.000000    0.000000                0
17       Calhoun, Arkansas, US  33.555988  -92.499744                0
18     Out of AR, Arkansas, US   0.000000    0.000000                0
19       Modoc, California, US  41.589656 -120.724482                0

/home/sfang/anaconda3/envs/surveillance_2019_ncov/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the REST endpoint.
  after removing the cwd from sys.path.

stanleysfang:surveillance_2019_ncov.ts_2019_ncov_us_deaths
            dt        county  province_state country_region  \
0   2020-02-05          Dale         Alabama             US
1   2020-02-05         Wayne         Georgia             US
2   2020-02-05    Unassigned        Illinois             US
3   2020-02-05     Out of NY        New York             US
4   2020-02-05       Haywood  North Carolina             US
5   2020-02-05      Burleigh    North Dakota             US
6   2020-02-05    Washington       Tennessee             US
7   2020-02-05           Bee           Texas             US
8   2020-02-05     Jim Wells           Texas             US
9   2020-02-05  San Patricio           Texas             US
10  2020-02-05     Val Verde           Texas             US
11  2020-02-05       Garland        Arkansas             US
12  2020-02-05       Laurens         Georgia             US
13  2020-02-05      Kootenai           Idaho             US
14  2020-02-05    Evangeline       Louisiana             US
15  2020-02-05    Tishomingo     Mississippi             US
16  2020-02-05       Bamberg  South Carolina             US
17  2020-02-05        DeWitt           Texas             US
18  2020-02-05       Kleberg           Texas             US
19  2020-02-05        Lavaca           Texas             US

                   combined_key   latitude   longitude  total_deaths
0             Dale, Alabama, US  31.430371  -85.610957             0
1            Wayne, Georgia, US  31.552181  -81.918949             0
2      Unassigned, Illinois, US   0.000000    0.000000             0
3       Out of NY, New York, US   0.000000    0.000000             0
4   Haywood, North Carolina, US  35.552691  -82.981965             0
5    Burleigh, North Dakota, US  46.978474 -100.464521             0
6     Washington, Tennessee, US  36.294724  -82.494547             0
7                Bee, Texas, US  28.417617  -97.742156             0
8          Jim Wells, Texas, US  27.731039  -98.090470             0
9       San Patricio, Texas, US  28.008801  -97.517639             0
10         Val Verde, Texas, US  29.891492 -101.152520             0
11        Garland, Arkansas, US  34.576921  -93.149216             0
12         Laurens, Georgia, US  32.463252  -82.922213             0
13          Kootenai, Idaho, US  47.672823 -116.702087             0
14    Evangeline, Louisiana, US  30.729852  -92.399159             0
15  Tishomingo, Mississippi, US  34.740235  -88.239172             0
16  Bamberg, South Carolina, US  33.219276  -81.056600             0
17            DeWitt, Texas, US  29.081019  -97.356812             0
18           Kleberg, Texas, US  27.424355  -97.698949             0
19            Lavaca, Texas, US  29.385084  -96.931867             0

#### agg data

In [21]:
ts_2019_ncov_query = \
"""
SELECT
    dt, county, province_state, country_region, combined_key, latitude, longitude,
    population,
    total_confirmed, total_deaths, daily_new_confirmed, daily_new_deaths,
    ROUND(AVG(daily_new_confirmed) OVER(PARTITION BY combined_key ORDER BY dt ROWS BETWEEN 6 PRECEDING AND CURRENT ROW), 1) AS daily_new_confirmed_7d_ma,
    ROUND(AVG(daily_new_deaths) OVER(PARTITION BY combined_key ORDER BY dt ROWS BETWEEN 6 PRECEDING AND CURRENT ROW), 1) AS daily_new_deaths_7d_ma,
    ROUND(AVG(daily_new_confirmed) OVER(PARTITION BY combined_key ORDER BY dt ROWS BETWEEN 27 PRECEDING AND CURRENT ROW), 1) AS daily_new_confirmed_28d_ma,
    ROUND(AVG(daily_new_deaths) OVER(PARTITION BY combined_key ORDER BY dt ROWS BETWEEN 27 PRECEDING AND CURRENT ROW), 1) AS daily_new_deaths_28d_ma,
    IF(population = 0, NULL, ROUND(total_confirmed/population, 4)) AS incident_rate,
    IF(total_confirmed = 0, NULL, ROUND(total_deaths/total_confirmed, 4)) AS case_fatality_rate,
    MAX(dt) OVER() AS last_update_dt,
    TIMESTAMP(REGEXP_REPLACE(STRING(CURRENT_TIMESTAMP, "America/Los_Angeles"), r'[\+-][0-9]{{2}}$', '')) AS last_updated_ts -- need the double bracket to avoid error with str.format
FROM (
    SELECT
        * EXCEPT(daily_new_confirmed, daily_new_deaths),
        IFNULL(daily_new_confirmed, total_confirmed) AS daily_new_confirmed,
        IFNULL(daily_new_deaths, total_deaths) AS daily_new_deaths
    FROM (
        SELECT
            *,
            total_confirmed - LAG(total_confirmed) OVER(PARTITION BY combined_key ORDER BY dt) AS daily_new_confirmed,
            total_deaths - LAG(total_deaths) OVER(PARTITION BY combined_key ORDER BY dt) AS daily_new_deaths
        FROM (
            SELECT
                a.*, b.population
            FROM (
                SELECT
                    COALESCE(a.dt, b.dt) AS dt,
                    COALESCE(a.county, b.county) AS county,
                    COALESCE(a.province_state, b.province_state) AS province_state,
                    COALESCE(a.country_region, b.country_region) AS country_region,
                    COALESCE(a.combined_key, b.combined_key) AS combined_key,
                    COALESCE(a.latitude, b.latitude) AS latitude,
                    COALESCE(a.longitude, b.longitude) AS longitude,
                    IFNULL(a.total_confirmed, 0) AS total_confirmed,
                    IFNULL(b.total_deaths, 0) AS total_deaths
                FROM `stanleysfang.surveillance_2019_ncov.ts_2019_ncov_{geo}_confirmed` a
                FULL JOIN `stanleysfang.surveillance_2019_ncov.ts_2019_ncov_{geo}_deaths` b
                ON a.dt = b.dt AND a.combined_key = b.combined_key
            ) a
            LEFT JOIN `stanleysfang.surveillance_2019_ncov.ts_2019_ncov_{geo}_deaths_raw` b
            ON a.combined_key = b.combined_key
        )
    )
)
""".format(geo=geo)

In [22]:
query_job = qr.run_query(ts_2019_ncov_query, destination_table='stanleysfang.surveillance_2019_ncov.ts_2019_ncov_{geo}'.format(geo=geo), time_partitioning=True, partition_field='dt')

In [23]:
print_job_result(query_job, client)

/home/sfang/anaconda3/envs/surveillance_2019_ncov/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the REST endpoint.
  after removing the cwd from sys.path.

stanleysfang:surveillance_2019_ncov.ts_2019_ncov_us
            dt      county  province_state country_region  \
0   2020-01-27        Bell        Kentucky             US
1   2020-01-27     Emanuel         Georgia             US
2   2020-01-27      Gordon         Georgia             US
3   2020-01-27     Jackson        Arkansas             US
4   2020-01-27     Madison        Arkansas             US
5   2020-01-27   Nez Perce           Idaho             US
6   2020-01-27      Pierce        Nebraska             US
7   2020-01-27   Pittsburg        Oklahoma             US
8   2020-01-27        Polk            Iowa             US
9   2020-01-27        Rice          Kansas             US
10  2020-01-27  Rio Grande     Puerto Rico             US
11  2020-01-27      Sumner          Kansas             US
12  2020-01-27   Trousdale       Tennessee             US
13  2020-01-27   Wilkinson     Mississippi             US
14  2020-01-27    Fillmore        Nebraska             US
15  2020-01-27     Fleming        Kentucky             US
16  2020-01-27       Henry        Kentucky             US
17  2020-01-27   Lancaster  South Carolina             US
18  2020-01-27   Out of CO        Colorado             US
19  2020-01-27     Russell        Kentucky             US

                     combined_key   latitude   longitude  population  \
0              Bell, Kentucky, US  36.733552  -83.677667       26032
1            Emanuel, Georgia, US  32.592213  -82.302399       22646
2             Gordon, Georgia, US  34.504874  -84.872963       57963
3           Jackson, Arkansas, US  35.598030  -91.214946       16719
4           Madison, Arkansas, US  36.010382  -93.725249       16576
5            Nez Perce, Idaho, US  46.326382 -116.750097       40408
6            Pierce, Nebraska, US  42.264349  -97.601228        7148
7         Pittsburg, Oklahoma, US  34.920658  -95.751343       43654
8                  Polk, Iowa, US  41.686795  -93.577675      490161
9                Rice, Kansas, US  38.346162  -98.199921        9537
10    Rio Grande, Puerto Rico, US  18.346329  -65.813742       54304
11             Sumner, Kansas, US  37.236825  -97.477216       22836
12       Trousdale, Tennessee, US  36.390262  -86.160880       11284
13     Wilkinson, Mississippi, US  31.160782  -91.310188        8630
14         Fillmore, Nebraska, US  40.524586  -97.596469        5462
15          Fleming, Kentucky, US  38.367583  -83.696575       14581
16            Henry, Kentucky, US  38.449427  -85.115875       16126
17  Lancaster, South Carolina, US  34.682708  -80.705130       98012
18        Out of CO, Colorado, US   0.000000    0.000000           0
19          Russell, Kentucky, US  36.993084  -85.060701       17923

    total_confirmed  total_deaths  daily_new_confirmed  daily_new_deaths  \
0                 0             0                    0                 0
1                 0             0                    0                 0
2                 0             0                    0                 0
3                 0             0                    0                 0
4                 0             0                    0                 0
5                 0             0                    0                 0
6                 0             0                    0                 0
7                 0             0                    0                 0
8                 0             0                    0                 0
9                 0             0                    0                 0
10                0             0                    0                 0
11                0             0                    0                 0
12                0             0                    0                 0
13                0             0                    0                 0
14                0             0                    0                 0
15                0             0                    0                 0
16                0             0                    0                 0
17                0             0                    0                 0
18                0             0                    0                 0
19                0             0                    0                 0

    daily_new_confirmed_7d_ma  daily_new_deaths_7d_ma  \
0                         0.0                     0.0
1                         0.0                     0.0
2                         0.0                     0.0
3                         0.0                     0.0
4                         0.0                     0.0
5                         0.0                     0.0
6                         0.0                     0.0
7                         0.0                     0.0
8                         0.0                     0.0
9                         0.0                     0.0
10                        0.0                     0.0
11                        0.0                     0.0
12                        0.0                     0.0
13                        0.0                     0.0
14                        0.0                     0.0
15                        0.0                     0.0
16                        0.0                     0.0
17                        0.0                     0.0
18                        0.0                     0.0
19                        0.0                     0.0

    daily_new_confirmed_28d_ma  daily_new_deaths_28d_ma  incident_rate  \
0                          0.0                      0.0            0.0
1                          0.0                      0.0            0.0
2                          0.0                      0.0            0.0
3                          0.0                      0.0            0.0
4                          0.0                      0.0            0.0
5                          0.0                      0.0            0.0
6                          0.0                      0.0            0.0
7                          0.0                      0.0            0.0
8                          0.0                      0.0            0.0
9                          0.0                      0.0            0.0
10                         0.0                      0.0            0.0
11                         0.0                      0.0            0.0
12                         0.0                      0.0            0.0
13                         0.0                      0.0            0.0
14                         0.0                      0.0            0.0
15                         0.0                      0.0            0.0
16                         0.0                      0.0            0.0
17                         0.0                      0.0            0.0
18                         0.0                      0.0            NaN
19                         0.0                      0.0            0.0

    case_fatality_rate last_update_dt                  last_updated_ts
0                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
1                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
2                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
3                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
4                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
5                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
6                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
7                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
8                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
9                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
10                 NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
11                 NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
12                 NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
13                 NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
14                 NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
15                 NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
16                 NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
17                 NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
18                 NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
19                 NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00

#### US current table

In [24]:
us_cur_query = \
"""
SELECT *
FROM `stanleysfang.surveillance_2019_ncov.ts_2019_ncov_{geo}`
WHERE dt = last_update_dt
""".format(geo=geo)

In [25]:
query_job = qr.run_query(us_cur_query, destination_table='stanleysfang.surveillance_2019_ncov.ts_2019_ncov_{geo}_cur'.format(geo=geo))

In [26]:
print_job_result(query_job, client)

/home/sfang/anaconda3/envs/surveillance_2019_ncov/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the REST endpoint.
  after removing the cwd from sys.path.

stanleysfang:surveillance_2019_ncov.ts_2019_ncov_us_cur
            dt      county            province_state country_region  \
0   2020-11-13   Out of RI              Rhode Island             US
1   2020-11-13  Unassigned             New Hampshire             US
2   2020-11-13  Unassigned               Connecticut             US
3   2020-11-13   Out of NH             New Hampshire             US
4   2020-11-13        None          Diamond Princess             US
5   2020-11-13  Unassigned                    Hawaii             US
6   2020-11-13       Kauai                    Hawaii             US
7   2020-11-13   Out of DC      District of Columbia             US
8   2020-11-13        None            American Samoa             US
9   2020-11-13   Out of CT               Connecticut             US
10  2020-11-13   Out of DE                  Delaware             US
11  2020-11-13  Unassigned                  Delaware             US
12  2020-11-13     Kalawao                    Hawaii             US
13  2020-11-13  Unassigned      District of Columbia             US
14  2020-11-13   Out of HI                    Hawaii             US
15  2020-11-13     Carroll             New Hampshire             US
16  2020-11-13        None  Northern Mariana Islands             US
17  2020-11-13     Grafton             New Hampshire             US
18  2020-11-13    Cheshire             New Hampshire             US
19  2020-11-13    Sullivan             New Hampshire             US

                            combined_key   latitude   longitude  population  \
0            Out of RI, Rhode Island, US   0.000000    0.000000           0
1          Unassigned, New Hampshire, US   0.000000    0.000000           0
2            Unassigned, Connecticut, US   0.000000    0.000000           0
3           Out of NH, New Hampshire, US   0.000000    0.000000           0
4                   Diamond Princess, US   0.000000    0.000000           0
5                 Unassigned, Hawaii, US   0.000000    0.000000           0
6                      Kauai, Hawaii, US  22.039350 -159.596679       72293
7    Out of DC, District of Columbia, US   0.000000    0.000000           0
8                     American Samoa, US -14.271000 -170.132000       55641
9             Out of CT, Connecticut, US   0.000000    0.000000           0
10               Out of DE, Delaware, US   0.000000    0.000000           0
11              Unassigned, Delaware, US   0.000000    0.000000           0
12                   Kalawao, Hawaii, US  21.178825 -156.958359          86
13  Unassigned, District of Columbia, US   0.000000    0.000000           0
14                 Out of HI, Hawaii, US   0.000000    0.000000           0
15            Carroll, New Hampshire, US  43.874986  -71.204302       48910
16          Northern Mariana Islands, US  15.097900  145.673900       55144
17            Grafton, New Hampshire, US  43.937798  -71.820572       89886
18           Cheshire, New Hampshire, US  42.920160  -72.253110       76085
19           Sullivan, New Hampshire, US  43.360941  -72.222031       43146

    total_confirmed  total_deaths  daily_new_confirmed  daily_new_deaths  \
0                 0             0                    0                 0
1               152             0                   33                 0
2               379             0                   60                 0
3                 0             0                    0                 0
4                49             0                    0                 0
5                 0             0                    0                 0
6                78             0                    2                 0
7                 0             0                    0                 0
8                 0             0                    0                 0
9                 0             0                    0                 0
10                0             0                    0                 0
11               93             0                    0                 0
12                0             0                    0                 0
13                0             0                    0                 0
14              138             1                    7                 0
15              225             2                   10                 0
16              100             2                    0                 0
17              370             2                   19                 1
18              304             3                   15                 0
19              155             3                    6                 0

    daily_new_confirmed_7d_ma  daily_new_deaths_7d_ma  \
0                         0.0                     0.0
1                        14.1                     0.0
2                        24.6                     0.0
3                         0.0                     0.0
4                         0.0                     0.0
5                         0.0                     0.0
6                         1.1                     0.0
7                         0.0                     0.0
8                         0.0                     0.0
9                         0.0                     0.0
10                        0.0                     0.0
11                        0.1                     0.0
12                       -0.4                     0.0
13                        0.0                     0.0
14                        4.4                     0.0
15                        6.7                     0.0
16                        0.3                     0.0
17                       10.9                     0.1
18                       10.3                     0.0
19                        6.6                     0.3

    daily_new_confirmed_28d_ma  daily_new_deaths_28d_ma  incident_rate  \
0                          0.0                      0.0            NaN
1                          5.2                      0.0            NaN
2                          9.1                      0.0            NaN
3                          0.0                      0.0            NaN
4                          0.0                      0.0            NaN
5                          0.0                      0.0            NaN
6                          0.7                      0.0         0.0011
7                          0.0                      0.0            NaN
8                          0.0                      0.0         0.0000
9                          0.0                      0.0            NaN
10                         0.0                      0.0            NaN
11                         0.1                      0.0            NaN
12                         0.0                      0.0         0.0000
13                         0.0                      0.0            NaN
14                         3.5                      0.0            NaN
15                         3.3                      0.0         0.0046
16                         0.7                      0.0         0.0018
17                         6.9                      0.0         0.0041
18                         4.8                      0.0         0.0040
19                         3.1                      0.1         0.0036

    case_fatality_rate last_update_dt                  last_updated_ts
0                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
1               0.0000     2020-11-13 2020-11-14 11:11:13.313496+00:00
2               0.0000     2020-11-13 2020-11-14 11:11:13.313496+00:00
3                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
4               0.0000     2020-11-13 2020-11-14 11:11:13.313496+00:00
5                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
6               0.0000     2020-11-13 2020-11-14 11:11:13.313496+00:00
7                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
8                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
9                  NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
10                 NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
11              0.0000     2020-11-13 2020-11-14 11:11:13.313496+00:00
12                 NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
13                 NaN     2020-11-13 2020-11-14 11:11:13.313496+00:00
14              0.0072     2020-11-13 2020-11-14 11:11:13.313496+00:00
15              0.0089     2020-11-13 2020-11-14 11:11:13.313496+00:00
16              0.0200     2020-11-13 2020-11-14 11:11:13.313496+00:00
17              0.0054     2020-11-13 2020-11-14 11:11:13.313496+00:00
18              0.0099     2020-11-13 2020-11-14 11:11:13.313496+00:00
19              0.0194     2020-11-13 2020-11-14 11:11:13.313496+00:00

### Extract Table

In [27]:
extract_job = extractor.extract(query_job.destination, 'gs://surveillance_2019_ncov/ts_2019_ncov_{geo}_cur.csv'.format(geo=geo))

In [28]:
extract_job.result()